/* Menu widget styling to match archives widget */

.menu-widget {
    .widget-menu--list {
        @include card-style;
    }

    .menu-item {
        &:not(:last-of-type) {
            border-bottom: 1.5px solid var(--card-separator-color);
        }

        a {
            font-size: 1.4rem;
            padding: 18px 25px;
            display: flex;
            align-items: center;
            color: var(--card-text-color-main);
            gap: var(--menu-icon-separation);

            &:hover {
                opacity: 0.8;
            }

            i {
                flex: 0 0 auto;
            }

            span {
                flex: 1;
            }
        }

        &.active a {
            color: var(--accent-color);
            font-weight: bold;
        }
    }
}
