{{- $IsList := .IsList -}}
{{- $Page := .Page -}}
<div class="article-details">
    {{/* Categories are hidden */}}

    {{- $showDate := $Page.Params.showDate | default (.Site.Params.article.showDate | default true) -}}
    {{- $showUpdated := $Page.Params.showUpdated | default (.Site.Params.article.showUpdated | default true) -}}
    {{- $showWordCount := $Page.Params.wordCount | default (.Site.Params.article.wordCount | default false) -}}
    {{- $showReadingTime := $Page.Params.readingTime | default (.Site.Params.article.readingTime | default false) -}}

    <div class="article-title-wrapper" style="display: flex; justify-content: space-between; align-items: flex-start;">
        <h2 class="article-title">
            <a href="{{ $Page.RelPermalink }}">
                {{- $Page.Title -}}
            </a>
        </h2>
        {{ if or (and $showDate .PublishDate) $showDate }}
            <div>
                {{ partial "datetime" (dict "Page" $Page "class" "") }}
            </div>
        {{ end }}
    </div>

    <footer class="article-time">
        {{ if and $showUpdated (ne .PublishDate .Lastmod) }}
            <div>
                {{ partial "datetime" (dict "Page" $Page "class" "article-time--modified" "time" .Lastmod "label" (T "article.lastUpdatedTime")) }}
            </div>
        {{ end }}

        {{ if $showWordCount }}
            <div>
                {{ i18n "article.wordCount" .WordCount }}
            </div>
        {{ end }}

        {{ if $showReadingTime }}
            <div>
                {{ i18n "article.readingTime" .ReadingTime }}
            </div>
        {{ end }}
    </footer>
</div>
